body{
 	margin:0;

 	font-family:'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
 }

   #downloadnow{

   	position: absolute;
  	top:0;
     bottom: 0;
     right:0;
    padding: 0 145px 40px 5;
     margin: auto;
    width: 200px;
    height: 100px;
   	font-size: 28px;
   	color:#2E2E2E;
   	font-family:'AvenirNext','Helvetica Neue',Arial,Helvetica,sans-serif;
   }
     .appbutton{
  	position: absolute;
  	top:0;
     bottom: 0;
     right:0;
  	
    padding: 0 150px 0 0;
  	margin:auto;

  	width: 200px;
  	height: auto;
  }
   #homepage{
   	-webkit-font-smoothing:antialiased;
   	background-color:#00FFFF;
   	padding:69px 0 15px 0;
   }
  #homepage{
  	height: 100%;
  }
  #frontpage{
  	background:#696969;
  	position: absolute;;
  	top:0;
  	left:0;
  	right:0;

  }

  .logoimg{
  	width: 40px;
  	height: auto;
    padding: 4px 18px;
     display: block;
    margin-left: auto;
    margin-right: auto
  }

   .homepage-inner{
   	padding: 0px 40px;
   	float:right;
   	width: 50%;
   }
    .homepage-video{
      position: absolute;
      top:25%;
      left: 32%;
      margin-top: -50px;
      margin-left: -50px;

   }

     .footer-container a {
        display: table;
        margin: auto;
        color: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        line-height: 23px;
      }

      .footer-container a:hover {
        color: black;
      }

      .footer-container .footer-column {
        padding: 0 40px;
        float: left;
        width: 40%;
   
      }


        .footer-container a {
          line-height: 30px;

        }